.route {
    margin-bottom: 20px;
}

.spotlight, .major, .inner {
    font-family: "Montserrat";
}

.spotlight h3 {
    color: black;
}

.major-title h2 {
    color: black;
}

.spotlight .image {
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
}

.submit-button {
    height: inherit;
    background-color: #65d5d8;
}

.header-tagline {
    font-size: 30px;
}

.header-tagline p {
    margin-bottom: 10px; 
}

.inner-header {
    font-size: 1.25em;
}

.footer-cta-header h2 {
    margin-bottom: 30px;
}

.spotlight-group {
    margin-bottom: 30px;
}